[2016-06-07 15:43] excilsploft opened #344 "Error in Debug: Get state using data format 'cli'"
When doing a puppet run we get the following error (in debug mode)

Debug:   with context:
    interface port-channel1
Debug:   to get value:     /^switchport mode private-vlan (.*)$/
Debug: Input (cli_show_ascii): 'show running interface all'
Debug: Massaging '' (nil)
Debug: Default: disabled
Debug: Get state using data format 'cli'
Debug:   executing command:
    show running interface all
Debug

[2016-06-07 15:54] mikewiebe commented on #344
Hello @excilsploft, thanks for your query.  Couple of questions.
- Which cisco puppet module version and cisco_node_utils version are you using?
- Can you include your manifest?

[2016-06-07 16:30] excilsploft commented on #344
Sorry for the prior lack of details here is the info:
cisco_node_utils (1.3.0)
puppetlabs-ciscopuppet (1.3.1)

simple manifest as we are learning and trying to figure this all out

[2016-06-07 16:47] robert-w-gries commented on #344
This line of config on your interface is leading to the error: `switchport trunk allowed vlan add 597`

The reason you are seeing the error is that our regexp for detecting VLAN IDs does not properly exclude keywords such as `add` or `remove`.

[code]

There should only be one match of `500-528,530,532,534,587,590-593`, but our regexp also matches `switchport trunk allowed vlan (add 597)`.

@mikew

[2016-06-07 17:04] excilsploft opened #345 "vlan attribute mode error"
Details:
cisco_node_utils (1.3.0)
puppetlabs-ciscopuppet (1.3.1)
NXOS: version 7.0(3)I2(2a)
cisco Nexus9000

Manifest looks like:

[2016-06-07 18:14] mikewiebe commented on #344
@excilsploft We are working on the issue and will provide the official fix in an upcoming release.  In the mean time, we will provide a workaround for you once we have completed our testing of the fix.

[2016-06-07 18:15] excilsploft commented on #344
Thanks

[2016-06-07 18:18] mikewiebe commented on #345
@excilsploft The `mode` property is only supported on the `n5k, n6k and n7k`.  Please see our main README for the `cisco_vlan` provider.
- https://github.com/cisco/cisco-network-puppet-module/blob/master/README.md#caveats-13

[2016-06-07 18:41] excilsploft commented on #345
apologies for that sorry RTFM bites me again :)

[2016-06-07 18:41] #345 closed

[2016-06-14 13:22] #344 closed

[2016-07-05 18:16] ambientmf opened #356 "undefined method `switchport_pvlan_trunk_native_vlan' for #<Cisco::Interface:0x000000044b5740>"
Using latest "develop" build for the cisco puppet module. 1.5.2-1.cisco_wrlinux5 puppet agent. Testing on N9K running version 7.0(3)I2(2b). Puppet reporting this error using a relatively simple manifest:

root@pod1-spine5:[/] # puppet agent -t
Info: Retrieving pluginfacts
Info: Retrieving plugin
Info: Loading facts
Info: Caching catalog for pod1-spine5
Info: Applying configuration version '1467742

[2016-07-06 12:08] chrisvanheuveln commented on #356
@ambientmf Looks like you have a module / gem mismatch. The **ciscopuppet module** has a dependency on the **cisco_node_utils ruby gem**. The node utils APIs are the interface between the NX-OS CLI and the Puppet Types & Providers.

It's important to keep these in sync and this is usually automatic if your manifest is set up to [install with a manifest](https://github.com/cisco/cisco-network-puppe

[2016-07-06 12:43] ambientmf commented on #356
Thanks Chris. I'll install the development gem and close out this issue. I
was previously running the 1.3.1 release of the module and re-used the
1.3.0 release of the cisco_node_utils gem...makes perfect sense.

I'm just in testing phase right now and the develop branch
had cisco_ospf_area type that was missing for our use case.

On Wednesday, 6 July 2016, Chris Van Heuveln <notifications@github.c

[2016-07-06 13:57] #356 closed

[2016-08-09 17:30] ambientmf opened #370 "Update documentation for automating gem installations"
Hi all,
Just thought I'd open this issue as an FYI. I believe the following documentation should be updated for getting the dependent Ruby gems pushed via the package provider from a Puppet master onto a N9K switch. Following the example manifest in the README-gem-install document did not yield successful gem installation via a puppet run on a Nexus 9K running the bash shell agent.

https://github

[2016-08-10 12:53] chrisvanheuveln commented on #370
Hi. Thanks for the feedback. We're not seeing the package provider issue you're describing on any of our current platforms or environments ( `provider => 'gem'` installs both gems fine).

Can you provide some add'l information about your setup? i.e. `show version` on your 9k; `puppet --version` in the agent bash shell and on the puppetmaster; `puppet module list` on your puppetmaster. Thanks,
Chri

[2016-08-10 13:51] ambientmf commented on #370
Hi Chris. Here's the requested info:

pod2-switch1# show version
Cisco Nexus Operating System (NX-OS) Software
Software
  BIOS: version 07.34
  NXOS: version 7.0(3)I2(2d)
  BIOS compile time:  08/11/2015
  NXOS image file is: bootflash:///nxos.7.0.3.I2.2d.bin
  NXOS compile time:  4/24/2016 13:00:00 [04/24/2016 20:28:19]

Hardware
  cisco Nexus9000 C9396PX Chassis
  Intel(R) Core(TM) i3- CPU @ 2.5

[2016-10-03 14:16] mikewiebe commented on #370
@ambientmf While prepping for our upcoming release, I re-verified our workflow and don't see the problem you are seeing.  We provide the following guidance in our main `README.md` file for installing the gem via puppet manifest.

https://github.com/cisco/cisco-network-puppet-module/tree/develop#automatic-gem-install-using-ciscopuppetinstall

Following this process, I am able to install the gem on

[2016-10-03 16:47] ambientmf commented on #370
Mike,
Thanks for the info.
I think this is specific to the Puppet server version.
From 3.8 to 4.0 and later, the "puppet_gem" provider was added.
See here:

https://docs.puppet.com/puppet/3.8/reference/type.html#package-providers
https://docs.puppet.com/puppet/4.0/reference/type.html#package-providers

It seems to me that I'm testing using a newer version of Puppet server. It might be worthwhile p

[2016-10-03 19:09] mikewiebe commented on #370
@ambientmf Thanks for the feedback!  It's always helpful to understand different user workflows.  The server version we are using is `4.2.2` which should be recent enough.

[code]

I don't have any additional data to provide since we have not been able to recreate the issue you describe with the `gem` provider.  I plan to close this for now, but we will make sure to add any relevant version inform

[2016-10-03 19:09] #370 closed

[2016-11-25 14:42] tomcooperca opened #408 "Cisco_vlan - proper state of VLAN name is not captured"
Hi,
ciscopuppet module version 1.4.1
cisco_node_utils 1.4.1
Puppet server version 4.7
Agent version 4.5.2
NX-OS 7.0(3)I4(2)

When applying cisco_vlan resources, the agent on the switch is unable to proper gather state of the name and causes the resource to fail due to "VLAN with the same name exists" CLI error. When looking at the debug output of the Puppet run, the name of the VLAN is being trimm

[2016-11-28 15:58] mikewiebe commented on #408
@tomcooperca, Thanks for making us aware of this issue.  We are currently investigating potential fixes.

[2016-12-13 18:37] mikewiebe commented on #408
@tomcooperca I have a candidate fix for this issue in code review now. https://github.com/cisco/cisco-network-node-utils/pull/505.  We plan to release this fix with the `1.5.0` puppet module.

[2016-12-14 17:41] tomcooperca commented on #408
Thanks @mikewiebe!

[2016-12-14 17:41] #408 closed

[2017-01-14 01:53] tomcooperca opened #413 "Update README-agent-install for guestshell puppet.service file"
There is an issue with the /bin/nsenter ExecStart in the puppet.service file for guestshell users.
When using the edited .service file from the README, the service never starts as nsenter complains about "unknown arguments". A separator ('--') is required between the --net option and the /opt/puppetlabs... command being piped to it.
See below:

`systemctl status puppet` using puppet.service from R

[2017-01-17 21:22] mikewiebe commented on #413
@tomcooperca Thanks for pointing out the issue in the README!  We will be sure to make the correction in our develop branch so the change is reflected in our next release.

[2017-01-19 16:53] krisamundson opened #414 "SNMP Community - Symbols Cause Churn"
When you have symbols in an SNMP community string you get churn as the provider fails to recognize the community and re-applies on every run.

Here is the puppet code:
[code]

You will now see that both communities apply on the first run, and the "admin" community continues to apply on every run.

[code]

NXOS: version 7.0(3)I2(2d)
ciscopuppet module: 1.5.0
puppet agent: 4.8.1

[2017-01-20 15:24] mikewiebe commented on #414
@krisamundson I am looking into this issue and working on a fix.  I keep you updated on the progress.

[2017-01-24 14:23] #413 closed

[2017-01-24 16:37] abrader opened #415 "Churn: HSRP Group resource type"
Hello friends at Cisco!

Got another for ya...this one is similar to [SNMP Community - Symbols Cause Churn](https://github.com/cisco/cisco-network-puppet-module/issues/414)

When customer calls HSRP Group creation via your resource type:

[code]

We see these resultant lines in the log even after repeated follow-up runs (where we have subsequently confirmed with show commands that the respective H

[2017-01-24 17:33] saichint commented on #415
Hi Andrew,
Thanks for bringing this to attention.
The name of the interface_hsrp_group is currently case-sensitive. That is why you are seeing the problem.
If you change the name to have “vlan …” instead of “Vlan …” (lowercase v), then it will be fine.
We will make the change so that the name won’t be case sensitive in our next release.

Thanks
Sai

From: Andrew Brader [mailto:notifications@github

[2017-01-24 19:30] mikewiebe commented on #415
@saichint Can you include test results here with the fix?  Then we can close this issue.

[2017-01-24 20:17] saichint commented on #415
Manifest:
cisco_interface_hsrp_group { 'Vlan11 11 ipv4':
      ensure                   => 'present',
      ipv4_enable           => true,
      ipv4_vip                 => '2.2.2.2',
    }

Test results:

First puppet run:
Notice: /Stage[main]/Ciscopuppet::Cisco::Demo_hsrp/Cisco_interface_hsrp_group[Vlan11 11 ipv4]/ensure: created
Notice: Applied catalog in 9.01 seconds

Second run:
Notice: Appli

[2017-01-24 21:38] mikewiebe commented on #414
@krisamundson Test results with fix.
[code]
Now add another user with even more complex characters.
[code]

[2017-01-25 14:43] krisamundson commented on #414
Confirmed working for me on NS-OSv.  Thanks!

[2017-01-25 14:53] #414 closed

[2017-01-25 15:51] krisamundson opened #417 "Chrun: console and vty config"
The following puppet code churns:

[code]

I also tried the following:
[code]

I also tried breaking out console and vty into their own resources, but both churn.

[code]

[2017-01-25 16:46] mikewiebe commented on #417
@krisamundson I just tested your manifest on my switch but I don't see the issue. Can you verify that the running configuration changed to reflect the state described in the manifest?

Here is my test:

Initial Run:
[code]

Second Run:
[code]

[2017-01-25 16:59] krisamundson commented on #417
The changes do get applied properly.

[code]

Version info:
[code]

puppet agent:

[code]

I would send debug logs, but --debug fails on my vswitch (another ticket I need to file based on some more inspection).

[code]

[2017-01-26 16:03] mikewiebe commented on #417
@krisamundson I will try and recreate the problem with the same version and NXOSv to see if it's specific to either of those variables.

[2017-01-26 16:15] krisamundson commented on #417
@mikewiebe the hardware N9k we get the same churn on is: 7.0.3.I4.2

[2017-01-26 16:34] #415 closed

[2017-01-27 17:53] mikewiebe commented on #417
@krisamundson I am still unable to recreate the problem in my lab.  I tried the same image version `7.0.3.I4.2` but the config is idempotent.

[code]

Are you able to capture the --debug logs on the n9k hardware switch?  If I can get those I can compare it to my logs.

[2017-01-30 18:20] TeunRoefs opened #419 "Defining a cisco_bgp_neighbor and cisco_bgp_neighbor_af resource"
Hi there,

I am currently in the process of writing a Cisco N3k config to Puppet DSL and am currently having issues with defining a cisco_bgp_neighbor and cisco_bgp_neighbor_af resource. The neighbors exist in the `show run` config but when I try to manage them through code, the `puppet agent -t --noop` returns that they are absent.

Searching them through `show bgp all summary vrf <vrf_name>` wil

[2017-01-30 18:25] TeunRoefs opened #420 "Absent resourcetypes in module"
Hi there,

Currently in the process of rewriting a Cisco N3k config to Puppet DSL and was wondering if there are a couple of options in the config that currently cannot be set using resource types.

I've encountered the following:
* prefix-list
* class-map
* route-map (I've seen PR)
* vrf
** graceful-restart
** grace-period
** ip name-server
** ip route
** ip domain-name
* policy-map
* router_bgp

[2017-01-30 21:48] mikewiebe commented on #419
@TeunRoefs Thanks for your query.

Can you include the output of  `puppet resource cisco_bgp`, `puppet resource cisco_bgp_neighbor`, and `puppet resource cisco_bgp_neighbor_af` when the configuration exists?  Are they displayed in the output?

Also, can you include the n3k image version, cisco_node_utils version and puppet module version?

[2017-01-30 22:07] TeunRoefs commented on #419
@mikewiebe Thanks for the fast response.

`puppet resource cisco_bgp` returns output, the other two dont. They have been configured in the config file.

N3K Image Version: 7.0.3
cisco_node_utils: 1.5.0
Puppet module: 1.5.0

Concerning the manifest, all have to discuss with my colleagues because it could contain confidential information. I'll come back to you on that.

[2017-01-31 11:09] TeunRoefs commented on #419
Hi Mike,

I've got the cisco_bgp_neighbor(_af) from the config file right here:

[code]
Hope this helps. I've checked the config on the N3k as well, neighbors do exist and are up and running.

[2017-01-31 17:25] mikewiebe commented on #419
@TeunRoefs Thanks for the configuration.  I took your configuration and used it to run a series of tests on my `n3k` and it appears to be functioning as expected.

**N3K Version:** 7.0(3)I2(2e)
**Gem Version:** cisco_node_utils (1.5.0)
**Puppet Module Version:** puppetlabs-ciscopuppet (v1.5.0)

I applied the config to my `n3k`

[code]

Output of the `puppet resource` command for the various BGP ob

[2017-01-31 19:41] mikewiebe commented on #419
@TeunRoefs Ok, we were able to recreate the issue.

[code]

The bgp neighbor commands can nvgen in one of two ways.
[code]
or
[code]

We handle the second case, but not the first.  We are working on a fix which will be included in our next release.  Once we have a fix in our `develop` branch we will update this case and you can apply the fix in your environment.

[2017-01-31 19:42] krisamundson commented on #417
This does not work:

[code]

This does work:
[code]

[2017-02-01 16:12] mikewiebe commented on #420
@TeunRoefs  Thank you for your interest in the open source cisco-network-puppet-module!

This module is designed to grow with contributions from the Open Source community, Cisco, and Puppet Labs.

We welcome and encourage users to contribute to the expansion of the module.  If there is a feature that is currently not supported, please consider the following options:

1. Add support for the missing

[2017-02-02 08:31] TeunRoefs commented on #419
We made a quick fix to our config to use the supported version of defining a neighbor. `puppet resource cisco_bgp_neighbor(_af)` gives a response now.

Thank you for your help, I will close this issue now.

[2017-02-02 08:31] #419 closed

[2017-02-02 15:12] mikewiebe commented on #417
@krisamundson Can you add the following debugs and send me the output?  I want to see the full contents of existing vs. manifest to figure out why are comparison fails at this point.

[code]

[2017-02-06 14:37] #420 closed

[2017-02-06 14:51] krisamundson commented on #417
@mikewiebe

Looks like it fails if a Windows text file is used (has CRLR).

[code]

I thought I was overriding CR's on my git commits.  I ran dos2unix on the manifest and it's working.  I thought it would fail due to the spaces as they aren't an exact match, but it works.

[code]

[2017-02-07 18:51] mikewiebe commented on #417
@krisamundson

Thanks for the debug output. Let me work on a fix that will handle any additional control characters.

[2017-02-08 22:23] mikewiebe commented on #417
@krisamundson Here is the test with the fix applied.  The actual fix does not contain the debugs but I left them in place for the test that follows.

**Manifest:**
[code]

[code]

[2017-02-09 18:31] tomcooperca opened #423 "Feature request; "load-interval" for cisco_interface"
Hi,
Can you please add the "load-interval" attribute to the cisco_interface type?
I need to manage these settings to keep interface timers consistent across all our switches. Thanks!

[2017-02-09 19:23] #417 closed

[2017-02-09 21:14] mikewiebe commented on #423
@tomcooperca We can certainly add that as a managed attribute.  We will schedule this work in an upcoming sprint and update the case when the work is complete.

[2017-02-10 01:17] tomcooperca commented on #423
@mikewiebe thank you!

[2017-02-15 16:26] tomcooperca opened #424 "ensure => absent on Ethernet interfaces fails"
Hey all,
I'm running through some basic manifests for testing & validation of the module against our config. I have a manifest for each corresponding feature that applies some basic dummy configuration then a removal class that cleans it up.

* Cisco Nexus N9K-C93180YC-EX running NX-OS 7.0(3)I4(2)
* ciscopuppet module & cisco_node_utils version 1.5.0
* Puppet version 4.7.0 (PE 2016.4.2)

In this m

[2017-02-15 16:29] tomcooperca commented on #424
Looks related to the `destroy` for interface.rb in node_utils:

https://github.com/cisco/cisco-network-node-utils/blob/develop/lib/cisco_node_utils/cmd_ref/interface.yaml#L49L51

I'm not sure the best solution for this, as most logical interfaces have to be removed via the `no interface Vlan|loopback|port-channel` command but the same command fails for physical interfaces.

[2017-02-15 16:55] mikewiebe commented on #424
@tomcooperca This is an interesting case.  As you pointed out physical interfaces are not really ensurable because if they are present they will always exist (can't be destroyed) regardless of their individual attributes. Let me discuss how we might restore a physical interface to it's default state with my development team and get back to you.

For now you could use the `cisco_command_config` pro

[2017-02-15 18:55] krisamundson commented on #424
What if "ensure => absent" translated to "default the interface and shutdown"?  The administrative state would have to merge with the "shutdown" parameter -- if shutdown was false then it would default the interface and 'no shut'.  If shutdown was true or not defined it would default the interface and shutdown.

[2017-02-15 19:59] chrisvanheuveln commented on #424
@krisamundson The "system default switchport" config settings interfere with shutdown so that probably wouldn't fly.

When I originally wrote the interface provider I suggested early on that we support "ensure => absent" for physical interfaces == default interface. It's easy enough to implement in the node utils destroy method but as Mike points out it's difficult to reliably detect idempotency h

[2017-02-15 22:38] tomcooperca commented on #424
PS: for my use case, the command_config works fine as it's just to remove test config and is only run once anyways. FWIW, I'm also using the shutdown attribute to admin-down ports that are unused and mark them as "vacant" in the description. I'm almost inclined to think that the ensure remain as-is, as it already removes logical interfaces from the configuration. Looks to be a behaviour inherit to

[2017-02-15 23:15] tomcooperca commented on #424
What about `ensure => purged` for this type?

[2017-02-16 13:22] chrisvanheuveln commented on #424
Sure, 'purged' is probably more meaningful than absent in this case.
There would still be an issue with idempotency though.

[2017-02-16 13:51] mikewiebe commented on #424
@tomcooperca Good to know that `cisco_command_config` will work for your use case.  Agree with Chris/Tom that purged is probably a better choice.

[2017-02-16 14:27] tomcooperca commented on #424
Would a regex check on `show run interface Ethernet1/1` like this be sufficient? If an interface is set back to default, it should only contain the interface declaration and nothing else. Thinking something like this:

Assume `default interface Ethernet1/2`
Regex: `^interface Ethernet1\/2\n^$`
Test string:
[code]
Matches successfully.

Has `default interface Ethernet1/1` occurred?
Regex: `^interfa

[2017-02-16 14:51] mikewiebe commented on #424
Generally speaking, if no attributes are visible under the interface using the `show running` command the interface attributes are in the default state.  I need to double check behavior with the various system level default commands that @chrisvanheuveln was referring to earlier to be sure we can't get into a state where an attribute is visible yet still default.  I also need to check across all o

[2017-02-16 15:34] tomcooperca commented on #424
Got it, makes perfect sense - keep me posted!

[2017-02-17 19:21] mikewiebe commented on #423
@tomcooperca Code has been committed for this feature into our develop branch and will be part of the `1.6.0` version of the puppet module.

[2017-02-17 19:21] #423 closed

[2017-03-07 21:14] tomcooperca opened #432 "LACP not supported on cisco_interface_channel_group resource"
The cisco_interface_channel_group provider does not configure LACP modes and assumes a static port-channel only.
When deploying Puppet to brownfield, this presents a problem as most port-channels are using LACP.

Can we expose a "mode" attribute for the channel-group configurations? With only static port channels supported, we actually cannot use this type. Thanks. PS: See logs below, this is erro

[2017-03-08 15:53] mikewiebe commented on #432
@tomcooperca We can add this property.  I will get this work scheduled in the upcoming sprint that starts next week.

[2017-03-08 18:03] tomcooperca commented on #432
@mikewiebe do you mind taking a look at this PR?
I think node_utils repo might be more approriate for this issue. The type/provider code looks to be fairly simple to add but there's API changes needed for the channel_group.

https://github.com/cisco/cisco-network-node-utils/pull/529

This is just my attempt, I fully expect that it will need some work to flesh this out more fully.

[2017-03-08 18:28] mikewiebe commented on #432
@tomcooperca Thanks for contributing to the module!  Let me take a look and verify it against our CI.

[2017-03-20 15:25] mikewiebe commented on #432
@tomcooperca I am going to close this issue since the PR you reference above is now merged.  Once you have the PR for the puppet side we can continue the integration.  Let me know if you have any questions on the type/provider part.

[2017-03-20 15:25] #432 closed

[2017-03-28 12:46] VincentRitzer opened #441 "warning+error after upgrading ciscopuppet to 1.6.0"
After changing the ciscopuppet version to 1.6.0, it didn't automatically upgrade the cisco_node_utils.

Settings in our Puppetfile:
[code]

Also we've included the automatic cisco_node_utils option:
[code]

Note: I've tested removing the cisco_node_utils gem and after it was removed it got installed again by running the puppet agent, so that part is working as intended.

output on commandline when

[2017-03-28 14:58] mikewiebe commented on #441
@VincentRitzer Can you include the contents of your `install.pp` manifest?  I want to make sure your `package` provider options have the correct properties set for upgrade.

[2017-03-28 15:47] mikewiebe commented on #441
One more thing.  If you want to uninstall an old version, say `1.5.0` but leave any other versions installed create a manifest to remove version `1.5.0`.

[code]

[2017-03-29 13:51] VincentRitzer commented on #441
contents of the Puppetfile:
[code]

The current gem list is:
[code]

I will try to find out what happens when I add the option you mentioned to the puppetfile and will output the gem list then.

[2017-04-04 02:19] tomcooperca commented on #441
@VincentRitzer use `/opt/puppetlabs/puppet/bin/gem list` to verify the installed gems. Likely, you're seeing the guestshell's "system" Ruby which is separate from the Puppet-included version of Ruby/gem.

For gem, you'll need to use an Exec. There's many posts on stackoverflow and the like where other people have run into this problem with the Gem provider on Linux.

We used the following:

[code]

[2017-04-11 13:47] tomcooperca opened #446 "cisco_vpc_domain delay restore prop not accepting valid values"
https://github.com/cisco/cisco-network-puppet-module/blob/develop/lib/puppet/type/cisco_vpc_domain.rb#L145

This type checks for values only between 240 and 3600. However, via CLI, you can configure a lower threshold. Need to update the munging on this type. See below:

[code]

[2017-04-13 17:46] mikewiebe commented on #446
@tomcooperca I plan to just remove the range check and let the cli reject.  Are you ok with that?

[2017-04-13 17:47] mikewiebe commented on #424
@tomcooperca We tried multiple solutions for this but wound up adding another property that would allow you to purge the config on ethernet interfaces.

* https://github.com/cisco/cisco-network-puppet-module/pull/445/files

Let us know if this works for you and we can close this out.

[2017-04-21 12:23] tomcooperca commented on #446
Yeah, that's fine with me.

[2017-04-21 20:29] #424 closed

[2017-04-24 13:52] #446 closed

[2017-04-28 15:22] MatteoCampolmi opened #452 "New aggregate-address property for cisco_bgp_af type"
At the moment the cisco_bgp_af type doesn't expose a property to define an 'aggregate-address network/mask summary-only' advertisement.

This setting is critical in our brownfield VXLAN implementation since it allows us to automatically filter the leaking of host routes outside of the fabric.

Would it be possible to have it added?

Thanks

[2017-04-28 16:26] mikewiebe commented on #452
@MatteoCampolmi Thanks for your interest in the module.  That should not be a problem.  We will schedule this in an upcoming iteration.

[2017-04-28 16:41] MatteoCampolmi commented on #452
@mikewiebe Thank you, that will simplify a lot our deployment.

[2017-05-11 18:01] mikewiebe commented on #452
@MatteoCampolmi This work is now complete from our side.  Please test out the changes and send us any feedback.

[2017-05-11 19:07] MatteoCampolmi commented on #452
@mikewiebe in which stable release would this new feature be introduced? When would it be scheduled for release?

[2017-05-11 19:35] mikewiebe commented on #452
This will be in the `1.7.0` release which will be out in a few weeks.  You can build a custom gem/puppet module sooner if you want to test it though.

[2017-05-17 18:33] saichint commented on #452
Closing this enhancement. It will be available in 1.7.0

[2017-05-17 18:33] #452 closed

[2017-05-19 12:14] jboero opened #457 "Update documentation with regards to IOS support."
https://docs.puppet.com/pe/latest/install_iosxr.html

[2017-05-19 14:21] mikewiebe commented on #457
Hi @jboero Is this just an FYI?

[2017-06-08 15:50] #457 closed

[2017-06-08 15:51] #441 closed

[2018-06-01 13:33] onyxmaster opened #488 "Are port profiles going to be supported?"
Hi!

Are port profiles for interfaces going to be supported? We use them extensively in static configuration, they would be very helpful for dynamic configuration too.

Thank you,
Aristarkh Zagorodnikov

[2018-06-05 17:49] mikewiebe commented on #488
@onyxmaster Thank you for your interest in the cisco-network-puppet-module!

This module is designed to grow with contributions from the Open Source community, Cisco, and Puppet Labs.

We welcome and encourage users to contribute to the expansion of the module.  If there is a feature that is currently not supported, please consider the following options:

1. Add support for the missing feature(s)

[2018-06-15 20:36] #488 closed

[2018-07-20 08:02] bsauvajon opened #496 "Very slow execution when managing interfaces"
Hi,
I've started to use the ciscopuppet module to manage configuration on a nexus 5672UP with 12 FEX 2232TM-E, using Open Agent Container.
Firstly, I've successfully managed local users, and now I'm starting to manage some interfaces configuration.

As soon as I declared my first interface, manifest execution time has gone from 30 seconds to 900 seconds.
Debug shows puppet takes a very long time t

[2018-07-20 13:13] mikewiebe commented on #496
@bsauvajon Thanks for your interest in the module.  We will look into this problem to see if we can improve the performance.  Would you be willing to share your manifest and debug logs?

[2018-07-20 14:37] bsauvajon commented on #496
@mikewiebe No problem to share manifest and debug logs, how can I send it ?

[2018-07-20 15:30] mikewiebe commented on #496
@bsauvajon Let me try and recreate it in my environment first with the information you have already provided and if I cannot then I will reach out to you for more information.

[2018-08-03 00:10] gkevlin opened #497 "cisco_interface 100GB speed setting incorrect"
https://github.com/cisco/cisco-network-puppet-module/blob/develop/lib/puppet/type/cisco_interface.rb

Lines 183-187
[code]

1_000_000 is not a valid value.  For 100Gb interfaces the value should be 100_000.

If possible could this be fixed as part of the 1.9 branch with a 1.9.1 tag release?

Thanks,
George Kevlin

[2018-08-07 18:02] shermdog commented on #497
@gkevlin Thanks for the report.  We'll work on getting this fixed up.  I suspect it will be part of the upcoming 1.10.0 release.

cc @mikewiebe

[2018-08-07 18:04] mikewiebe commented on #497
@gkevlin @shermdog Is correct that we can include this as part of the `1.10` release that will be out in a few weeks.

[2018-08-08 20:37] mikewiebe commented on #496
@bsauvajon Just an update on this issue.  I have been able to recreate the problem and am investigating potential solutions.

[2018-08-14 13:43] mikewiebe commented on #497
Fixed in https://github.com/cisco/cisco-network-puppet-module/pull/499

[2018-08-14 13:43] #497 closed

[2018-09-25 13:48] henriots opened #515 "cisco_vpc_domain creates error "No set of title patterns matched the title""
Hello!

Using "cisco_vpc_domain" module creates this error:
`Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: No set of title patterns matched the title "CREATE_VPC_DOMAIN".`

Here's is manifest class:

[code]
Error message doesn't give much to go on, other modules are working fine. Tried even without $vpc_id variable and just a number.

[2018-09-25 14:10] mikewiebe commented on #515
Hello @henriots thanks for posting the issue.  The title pattern for this resource must be an integer.  Can you try the following format instead?

[code]

Here is an example from our demo manifest collection

https://github.com/cisco/cisco-network-puppet-module/blob/develop/examples/cisco/demo_vpc_domain.pp#L46

[2018-09-25 14:20] henriots commented on #515
Hello!

That's correct. My bad. Still learning Puppet.

Thanks alot!

[2018-09-25 16:27] henriots commented on #515
Didn't want to create a new issue, so I'll add it to here. I'm following your posted manifest. First I though I screwed again something up, but then I just copied your posted example. I get the same error message anyways.

`class vpc_configuration {
	require overall::feature_leaf
	$vpc_id="200"

	cisco_vpc_domain { "${vpc_id}":
		ensure => present,
		peer_keepalive_dest => '10.100.65.241',
		peer_

[2018-09-25 16:56] mikewiebe commented on #515
@henriots Which cisco puppet module version are you using?

[2018-09-25 17:03] henriots commented on #515
Here is version:
/etc/puppetlabs/code/environments/production/modules
├── puppetlabs-ciscopuppet (v1.10.0)
└── puppetlabs-netdev_stdlib (v0.16.0)

Here is output of --trace
[code]

[2018-09-25 18:13] saichint commented on #515
@henriots We did find a problem in the code. There was a typo error.
I opened a PR (not yet merged into the develop branch)
https://github.com/cisco/cisco-network-node-utils/pull/598

You can take this change and patch up your cisco_node_utils and build a gem and try it for your manifest.
The other way is to put the fix on your agent directly at:
/opt/puppetlabs/puppet/lib/ruby/gems/2.1.0/cisco_no

[2018-10-03 09:22] henriots opened #516 "Saving configuration and feature module"
Hello!

After using Puppet with NX-OS for a week now i've ran into some questions:

- What is the best way to save system configuration after a configuration run has completed? I know that modules don't save it's configuration neither I can find a module that does this. How have you implemented that part?

- Are you planning to add a module for features that checks which features have been enabled

[2018-10-04 13:38] mikewiebe commented on #516
@henriots I am currently traveling so sorry for the slow response.

* We have not created a module for saving configuration.  Currently the only way to do this is using the `cisco_command_config` provider.

* The providers that require a feature to be enabled will automatically enable them.  For example, `cisco_bgp` will check to see if `feature bgp` is set and if not, enable it and then configure

[2018-10-04 14:45] henriots commented on #516
Thanks a lot for the answer!

Wasn't aware that it automatically installed required features, so I used cisco_command_config to activate features first.

I got my hands on two Nexus 5600 series andnow I'm playing around with them.  At the moment I'm using Puppet agent in test mode for all the configuration management, so I wondered if someone has ran Puppet as service on OAC. One problem seem to b

[2018-10-04 14:45] #516 closed

[2018-10-04 14:51] mikewiebe commented on #516
@henriots I should clarify that we don't officially support OAC persistence after reboot.  The startup script could be modified to do something similar to (https://github.com/cisco/cisco-network-puppet-module/blob/develop/docs/README-agent-install.md#service-management-in-guestshell-using-systemd) to run the agent in the management vrf on startup.

[2018-10-10 13:40] henriots commented on #516
@mikewiebe
To get Puppet run at boot with N5K, I edited "/etc/init.d/puppet" as explained here (https://github.com/cisco/cisco-network-puppet-module/blob/master/docs/README-agent-install.md#svc-mgmt-bs)

Then also edited `/sbin/ip` and `/usr/local/bin/chvrf` , because commands "chvrf" and "vrf2num" are unknown and start-up fails. I bet you can set a PATH variable, which would be better solution.

[2018-10-11 15:32] mikewiebe commented on #516
@henriots Thanks for sharing!

[2018-10-17 11:14] henriots opened #518 "resource type "cisco_interface" and vpc_id"
Hello!

When using resource type "cisco_interface" for setting VPC IDs for port-channels it fails every time after first run, because it doesn't check whether the ID has previously been set or not.

Error:
[code]

[2018-10-17 17:08] saichint commented on #518
@henriots Thanks for bringing this to our attention. It is possible that this is a platform specific issue. When I tested with newer platforms I don't see any issue.
Can you try this fix?
Change this line:
https://github.com/cisco/cisco-network-puppet-module/blob/develop/lib/puppet/type/cisco_interface.rb#L284
from value to value.to_i

basically you can go to your puppet server and look for this f

[2018-10-17 18:45] saichint commented on #518
@henriots Instead of the above suggestion, please try this code in the PR I just opened:
https://github.com/cisco/cisco-network-puppet-module/pull/519
The reason is that vpc_id could be 'default' and it cannot be changed to integer.

[2018-10-18 06:47] henriots commented on #518
@saichint
Hey!

Still the same.
First run:
[code]

Second run:

[code]

And Puppet define:
[code]

[2018-10-18 14:00] JBaptisme opened #520 "Broken idempotence ?"
Hello all,

I'm facing an idempotence  issue when using the puppet module into my Nexus 3064PQ (I have not tested on another model)

Code on Master side to configure an interface :
[code]

Manifest for an interface example:
[code]
Effects when running agent:
[code]
Each time I launch puppet agent, idempotence  is not respected . Each time I always have change on my interfaces (same I don't make an

[2018-10-18 14:42] mikewiebe commented on #520
@JBaptisme Thank you for logging this issue.  Our module manages physical interfaces the same way virtual interfaces are managed.  The idea of `present` or `absent` means to bring interfaces under puppet management you need to enclude `ensure -> present` in your manifest.

Can you please add this and re-try?

[code]

[2018-10-18 16:57] saichint commented on #518
@henriots
The issue is that in your manifest there is a space between the port-channel and ${channel_group}
Basically change this:
cisco_interface { "port-channel ${channel_group}":
to
cisco_interface { "port-channel${channel_group}":

Even though we could create interfaces with white-space in the middle, puppet resource returns without white-space and this causes idempotent issues. I don't know i

[2018-10-18 19:10] henriots commented on #518
@saichint
Thanks!

Sorry for wasting your time.

[2018-10-18 19:10] #518 closed

[2018-10-18 20:05] saichint commented on #518
@henriots No worries. Please do open an issue if you see something odd, we will take care of it.

[2018-10-23 07:29] JBaptisme commented on #520
@mikewiebe , thanks for you help.

I've added ensure line. Code is like you paste it
Unfortunately, I keep have non-idempot manifest
[code]

Do you have an idea ?
thanks

[2018-10-23 15:14] mikewiebe commented on #520
@JBaptisme What is your NX-OS image version and Cisco Puppet Module version?

[2018-10-23 15:30] JBaptisme commented on #520
Hello,

Switch is 3064PQ.
NX-OS is 7.0(3)I4(7).
Puppet agent rpm version is 1.10.14-1.el7.x86_64
Cisco Puppet  module version used is 1.8.0

Regards,

[2018-10-24 08:09] JBaptisme commented on #520
Hi,

I've tried with present between quote
` ensure                           => 'present',
`

Issue is the same, for each interface
`Interfaces[Ethernet 1/1]/Cisco_interface[Ethernet 1/1]/ensure: created
`
Regards,

[2018-10-24 12:52] mikewiebe commented on #520
@JBaptisme I am working to recreate the issue and get a root cause.  I will respond on this thread when I have more information.

Thanks!

[2018-10-29 17:18] saichint commented on #520
@JBaptisme Can you make sure that the name of interface does NOT have any white space in the middle?
For ex. please provide the name as "ethernet1/1" instead of "ethernet 1/1"
The puppet resource does not show the space even though configuration is possible using a space, and this could be the reason why you are having idempotent issues.
Please try and let us know.

[2018-10-30 13:12] JBaptisme commented on #520
Hello,

Thanks, without white space it work like a charm now...
Thanks for support !
I'm facing same idempotence issue with the network_vlan provider (I will swap to the cisco provider) and will create another issue if i'm always in trouble for vlan.
Another time, thanks for help, it will help me a lot :)

Bye,

[2018-10-30 13:12] #520 closed

[2018-10-30 16:02] JBaptisme opened #521 "purge_config does not purge speed"
Hello team :)

I'm facing issue with purge_config.
Inded, purge_config seem not to purge speed parameter.
For exemple, for interface ethernet1/14
I configure interface with
[code]

Configuration look good on my switch
[code]

Afterthat, I purge conf into my conf (I remove all parameter into my yaml
[code]
I try with ensure => absent only or purge_config => true only too but issue is the same. Conf

[2018-10-31 13:35] mikewiebe commented on #521
@JBaptisme We will investigate and get back to you.  Thanks!

[2018-11-01 08:55] henriots opened #522 "cisco_bgp && timer_bgp_hold"
Hello!

Trying to set BGP timer for Nexus 5672UP and getting error:
`Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: no parameter named 'timer_bgp_hold' at /etc/puppetlabs/code/environments/production/manifests/classes.pp:280 on Cisco_bgp[65201]`

[code]
I checked the "cisco_bgp" code and changing "timer_bgp_hold" to "timer_bgp_holdtime" works, so documenta

[2018-11-01 10:31] henriots commented on #516
About the "saving configuration" option:
At the moment, if someone is wondering, I've solved it with creating a seperate class (for example save_config) and using "cisco_command_config" functionality.
After that I use Puppet stages to make sure the class is ran after stage "main" is completed.

[2018-11-01 19:14] saichint commented on #521
@JBaptisme It is possible that the platform you are using has an issue.
What we do from puppet is to call the CLI:
```default interface ethernet1/14```

This is supposed to remove all the user config and go back to default config.
Can you configure the interface like you were doing before and then try this CLI on your console and see if it really removes all the configuration including speed or th

[2018-11-01 19:40] mikewiebe commented on #516
@henriots Thanks for sharing.  Would you be willing to share a sample manifest?

[2018-11-05 09:59] henriots commented on #516
Sure.

classes.pp
[code]

stages.pp
[code]

site.pp

[code]

[2018-11-09 11:08] JBaptisme commented on #521
@saichint Sorry for late answer.

Indeed it seem have an issue not puppet related.

Here my config after puppet run
[code]

And after I launch default command
[code]

Indeed issue seem related to plateform... I think we can close issue.
Do you know if NX-OS upgrade can help me ?

[2018-11-09 22:04] saichint commented on #522
I am closing this issue as we have addressed it in README and the PR is merged already,

[2018-11-09 22:04] #522 closed

[2018-11-09 22:13] saichint commented on #521
@JBaptisme Thanks for confirming. There is a possibility that this got fixed in newer versions of software. you can always give it a try to upgrade and see if the issue goes away. Unfortunately I do not work in that area to confirm either way, but I did see an old issue filed long back for this and it was closed with a comment that it won't be fixed as the platform is an old one and not being main

[2018-12-12 16:29] JBaptisme opened #527 "VPC Peer-switch directive"
Hello guys,

I've take a look to project, but I can't find anywhere a VPC directive for "peer-switch".
Is "peer-switch" can be implemented via this puppet module ?

Regards,

[2018-12-12 20:34] saichint commented on #527
@JBaptisme We will take a look at it and get back to you soon.

[2018-12-13 10:46] JBaptisme opened #528 "Manage mgmt0 interface ?"
Hello,

Management interface (mgmt0) seem not be  manageable by Puppet.
Indeed manage this interface can be dangerous.
Is it a feature or an issue ?.

Indeed my actual process is:
1- Provision a switch with POAP and an static conf (with a "templated IP adress)
2- Install puppet on the switch
3- Retrie catalog for node

So in action 3, mgmt IP should be fixed with the final one. But interface class

[2018-12-14 19:42] mikewiebe commented on #528
@JBaptisme This is correct.  We intentionally added the following check when using the `cisco_interface` provider.

https://github.com/cisco/cisco-network-puppet-module/blob/5a786f051c66702fa6137a1f00c5cdb6784ce4fc/lib/puppet/provider/cisco_interface/cisco.rb#L371

If you would like to configure the ip address on the mgmt interface then you could use `cisco_config` instead.

[code]

[2018-12-15 10:08] JBaptisme commented on #528
Hello @mikewiebe
Thanks for your fast answer, I  appreciate !

Regards,

[2018-12-15 10:08] #528 closed

[2018-12-17 15:47] saichint commented on #527
Added peer-switch to vpc

[2018-12-17 15:47] #527 closed

[2018-12-19 10:02] JBaptisme opened #531 "OSPF redistribute"
Hello,

I'm trying to configure redistribution of direct route into OSPF.
I can't find any directive for do that, Is it normal ?

For example I want to generate configuration lile:

[code]

Is  mandatory to use cisco_command_config ?

Thanks for help

[2018-12-19 16:36] JBaptisme opened #532 "HSRP md5 + key-chain => No idempotent"
Hello Guys,

I think idempotent is broken when using md5 + key-chain  into HSRP group.

Indeed, when I configure a HSRP like this
[code]
Each time puppet run,  I have a modification into my ressource
``` Cisco_interface_hsrp_group[Vlan`XXX 1 ipv4]/authentication_enc_type: authentication_enc_type changed 'clear' to 'encrypted' ```

Is it a normal behavior due to usage of md5 (each time puppet run,

[2018-12-19 22:33] mikewiebe commented on #532
@JBaptisme That is normal behavior for encrypted passwords.  Puppet is not encryption algorithm aware in this case so unless you are using clear text it won't be idempotent.

[2018-12-19 22:36] mikewiebe commented on #531
@JBaptisme You are right.  That is missing from our current support.  It's not currently on our roadmap of things to add but you can use command_config as a stop gap.  We love contributions to the module.  Is this something you would be interested in or willing to add?

[2019-01-07 16:35] mikewiebe commented on #531
@JBaptisme The PR above adds redistribution support for OSPF.

[2019-07-30 14:43] mikewiebe commented on #496
Resolved by https://github.com/cisco/cisco-network-puppet-module/pull/561

[2019-07-30 14:43] #496 closed

[2019-11-24 17:07] pcevela opened #582 "cisco_vdc - Could not evaluate: RuntimeError"
Hi, my manifest contains pretty much example configuration of cisco_vdc module:
[code]
Even with this minimalistic config, I'm getting:
[code]
Test switch is "Nexus9000 9000v Chassis".
Puppet-Agent in proxy mode is running on top of CentOS8 with latest puppet & module versions from offical repositories.

Thanks for help

[2019-11-26 16:32] mikewiebe commented on #582
@pcevela Thanks for reporting the issue.  We will investigate and report back.  I have a few questions.

1. What image version are you running on the 9000v?
2. You indicate you are running in proxy mode.  Does this mean you are running agentless?
3. Can you also add the `--trace` option and include the debug info from the puppet run?

[2019-11-27 11:11] chrisvanheuveln commented on #582
@pcevela The module does not support VDC management on 9000v. It's only supported on N7K platforms. Is there a use-case for 9000v?

https://github.com/cisco/cisco-network-puppet-module#type-cisco_vdc
https://github.com/cisco/cisco-network-node-utils/blob/develop/lib/cisco_node_utils/vdc.rb#L49

[2019-11-27 11:20] pcevela commented on #582
Hi guys,
I verified it with our architect and you're right, n9k doesn't have support for "vdc" function itself even though configuration block is in running config.

Can we change this bug to RFE to handle this error more reasonably than "Runtime error" to maybe "Uncompatible platform"?

Sorry for confusion.

[2019-11-27 12:13] chrisvanheuveln commented on #582
Sure. A failure message probably would've avoided this issue altogether. We'll add it.

[2019-12-17 21:37] chrisvanheuveln commented on #582
https://github.com/cisco/cisco-network-node-utils/pull/652

[2019-12-17 21:37] #582 closed, assigned to nobody

[2022-03-22 17:15] cleitonnovotni opened #583 "cisco_snmp_user: Could not evaluate: ArgumentError"
Hello, when we use the priv_protocol parameter equal to none, the error below is returned, we tested it with priv_password null, but the error is the same, could you help us?

![image](https://user-images.githubusercontent.com/99817491/159536985-0aaaac1d-63ba-40a3-a127-f4afc436c32c.png)

Thanks.